main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }
  
.main {
    margin: auto;
    max-width: 1200px;
  }
  
header {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url(/static/images/crop.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: Georgia;
    color: white;
  }

  /*title*/

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .heading {
    color: white;
    font-size: 4vw;
    font-variant: small-caps;
  }

  
/* MAIN CONTENT */
.page-wrapper {
    min-height: 100%;
  }
  
  /* HISTORY */
  .history {
    margin: 20px;
  }
  
  .history-para {
    padding: 13px;
  }
  
  .history-heading2 {
    margin: 2px;
    padding-top: 20px;
  }
/* IMAGE GALLERY */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 20%;
    max-width: 20%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /*about us*/
  .about-section {
    padding: 50px;
    text-align: justify;
  }
  
  .about-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .about-section p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .about-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .team-section {
    animation: 1s ease-out 0s 1 slideInLeft;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .team-member {
    animation: 1s ease-out 0s 1 slideInLeft;
    text-align: center;
    width: 33%;
    margin: 0 50px;
  }
  
  .team-member img {
    animation: 1s ease-out 0s 1 slideInLeft;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 25px;
  }
  
  .team-member h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .team-member p {
    font-size: 18px;
    color: #999;
  }


  /* FOOTER */
.footer {
    background: #303036;
    color: #d3d3d3;
    height: 400px;
    position: relative;
  }
  
  .footer .footer-bottom {
    background-color: #343a40;
    color: #686868;
    text-align: center;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding-top: 20px;
  }
  
  .footer .footer-content {
    height: 350px;
    display: flex;
  }
  
  .footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
  }
  
  .footer .footer-content h1 {
    color: white;
  }
  
  .footer-para {
    margin: 10px 0;
  }
  
  .footer .footer-content .about .contact span {
    display: block;
    margin-bottom: 8px;
    font-size: 1.1em;
  }
  
  .footer .footer-content .about .socials a {
    border: 1px solid gray;
    width: 45px;
    height: 38px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    text-decoration: none;
    color: #d3d3d3;
    border-radius: 5px;
    transition: all 0.3s;
  }
  
  .footer .footer-content .about .socials a:hover {
    color: white;
    border: 1px solid white;
    transition: all 0.3s;
  }
  
  .footer-section {
    text-align: center;
  }
  
  .logo-text {
    font-variant: initial;
  }
  
  .logo-text .logo-span {
    color: #a2c376;
  }
  