<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Price Prediction</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
    <header >
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8ac79a;">
          <div class="container-fluid">
            <a class="navbar-brand" href="/"><b>Crop Price Prediction</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/"><b>Home Page</b></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about"><b>About Us</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/predictpage"><b>Crop recommendation</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/base"><b>Suggestion For Crop</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/fertilizer"><b>Fertilzer Predictions</b></a>
                  </li>
              </ul>
            </div>
          </div>
        </nav>
           
            <!-- Title heading -->
           
            
        </header>
        <div class="card-wrapper">
            
            <div class="card">
              <h1> Enter the details </h1>
              <form action="/fertipredict" method="POST" id="feature">
              <label for="temperature">Temperature in degree Celsius:</label>
              <input type="number" step="0.000001" id="temperature" name="temperature" class="field" max="50">
              <label for="humidity">Relative humidity in %:</label>
              <input type="number" step="0.000001" id="humidity" name="humidity" class="field" max="100">
              <label for="Moisture">Relative moisture in %:</label>
              <input type="number" step="0.000001" id="Moisture" name="Moisture" class="field" max="65" min="25">
              <label for="N">Ratio of Nitrogen content in soil:</label>
        <input type="number"  id="N" name="N" class="field" max="200">
        </div>
        <div class="card">
        <label for="P">Ratio of Phosphorous content in soil:</label>
        <input type="number"  id="P" name="P" class="field" max="200">
        <label for="K">Ratio of Potassium content in soil:</label>
        <input type="number"  id="K" name="K" class="field" max="200">
        <label for="soiltype">SoilType:</label>
        <select id="soiltype" name="soils" class="field">
          <option value="">Select a soil type</option>
              <option value="Loamy">Loamy</option>
              <option value="Sandy">Sandy</option>
              <option value="Clayey">Clayey</option>
              <option value="Black">Black</option>
              <option value="Red">Red</option>
              </select> 
              <label for="croptype">Crop Type:</label>
              <select id="croptype" name="crops" class="field">
                <option value="">Select a crop type</option>
                    <option value="Sugarcane">Sugarcane</option>
                    <option value="Cotton">Cotton</option>
                    <option value="Millets">Millets</option>
                    <option value="Paddy">Paddy</option>
                    <option value="Pulses">Pulses</option>
                    <option value="Tobacco">Tobacco</option>
                    <option value="Oil seeds">Oil seeds</option>
                    <option value="Maize">Maize</option>
                    <option value="Ground Nuts">Ground Nuts</option>
                    </select> 
                    <input type="submit"  id="button" name="button" class="btn">
                </form>
                <div class="center" style="margin: 30px 0px ;" id="predd"> recommendation will be here</div>
            </div>
        </div>
        <script>
          $( document ).ready(function() {
            $('#feature').submit(function(e){
              e.preventDefault();
              $.ajax({
                url: "/fertipredict",
                type: 'post',
                data:$('#feature').serialize(),
                success:function(){
                    console.log()
                }
            }).then((x)=> {
              $('#predd').html(x) ;
              console.log(x);
            })
      })
    });
  </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script> 
        <script src="/static/js/jquery.js"></script>
</body>
</html>