<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/static/images/logo.jpg">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
    <script src="/static/js/district.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>Crop Price Prediction</title>
  </head>
  <body style="font-family: 'Nunito', sans-serif; font-weight: 400; font-size: 100%;">
    <header >
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8ac79a;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><b>Crop Price Prediction</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/"><b>Home Page</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about"><b>About Us</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/predictpage"><b>Crop recommendation</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/base"><b>Suggestion For Crop</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/fertilizer"><b>Feritilzer Predictions</b></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
   
</header>
    
    <div class="card-wrapper">

      <div class="card">
        <h1> Enter the details </h1>
        <form action="/exactpredict" method="POST" id="features">
          <label for="states">Select State:</label>
          <select id="states" name="states" class="field" onchange="updateDistricts()">
            <option value="">Select a state</option>
            <option value="ANDAMAN And NICOBAR ISLANDS">Andaman And Nicobar</option>
            <option value="ARUNACHAL PRADESH">ARUNACHAL PRADESH</option>
            <option value="ASSAM">ASSAM</option>
            <option value="MEGHALAYA">MEGHALAYA</option>
            <option value="MANIPUR">MANIPUR</option>
            <option value="MIZORAM">MIZORAM</option>
            <option value="NAGALAND">NAGALAND</option>
            <option value="TRIPURA">TRIPURA</option>
            <option value="WEST BENGAL">WEST BENGAL</option>
            <option value="SIKKIM">SIKKIM</option>
            <option value="ORISSA">ORISSA</option>
            <option value="JHARKHAND">JHARKHAND</option>
            <option value="BIHAR">BIHAR</option>
            <option value="UTTAR PRADESH">UTTAR PRADESH</option>
            <option value="UTTARANCHAL">UTTARANCHAL</option>
            <option value="HARYANA">HARYANA</option>
            <option value="DELHI">DELHI</option>
            <option value="PUNJAB">PUNJAB</option>
            <option value="HIMACHAL">HIMACHAL</option>
            <option value="JAMMU AND KASHMIR">JAMMU AND KASHMIR</option>
            <option value="RAJASTHAN">RAJASTHAN</option>
            <option value="CHANDIGARH">CHANDIGARH</option>
            <option value="GUJARAT">GUJARAT</option>
            <option value="PUNJAB">PUNJAB</option>
            <option value="HIMACHAL">HIMACHAL</option>
            <option value="JAMMU AND KASHMIR">JAMMU AND KASHMIR</option>
            <option value="DADAR NAGAR HAVELI">DADAR NAGAR HAVELI</option>
            <option value="DAMAN AND DUI">DAMAN AND DUI</option>
            <option value="MAHARASHTRA">MAHARASHTRA</option>
            <option value="CHATISGARH">CHATISGARH</option>
            <option value="ANDHRA PRADESH">ANDHRA PRADESH</option>
            <option value="TAMIL NADU">TAMIL NADU</option>
            <option value="PONDICHERRY">PONDICHERRY</option>
            <option value="KARNATAKA">KARNATAKA</option>
            <option value="KERALA">KERALA</option>
          </select>
          <label for="districts">Select District:</label>
          <select id="districts" class="field" name="districts">
            <option value="">Select a district</option>
          </select>
        
        <label for="N">Ratio of Nitrogen content in soil:</label>
        <input type="number"  id="N" name="N" class="field" max="200">
        <label for="P">Ratio of Phosphorous content in soil:</label>
        <input type="number"  id="P" name="P" class="field" max="200">
        <label for="K">Ratio of Potassium content in soil:</label>
        <input type="number"  id="K" name="K" class="field" max="200">
        </div>
        <div class="card">
        <label for="temperature">Temperature in degree Celsius:</label>
        <input type="number" step="0.000001" id="temperature" name="temperature" class="field" max="50">
        <label for="humidity">Relative humidity in %:</label>
        <input type="number" step="0.000001" id="humidity" name="humidity" class="field" max="100">
        <label for="ph">PH value of the soil:</label>
        <input type="number" step="0.0000001" id="ph" name="ph" class="field" min="0" max="14">
        <label for="rainfall">Rainfall in mm:</label>
        <input type="number" step="0.000001" id="rainfall" name="rainfall" class="field">

        <label for="rainfall">Season:</label>
        <select id="seasons" name="seasons" class="field">
          <option value="">Select a season</option>
              <option value="Jan-Feb">Jan-Feb</option>
              <option value="Mar-May">Mar-May</option>
              <option value="Jun-Sep">Jun-Sep</option>
              <option value="Oct-Dec">Oct-Dec</option>
              </select> 
        <input type="submit"  id="button" name="button" class="btn">
      </form>
    <div class="center " style="margin: 30px 0px ;" id="pred">
      Predictions will be here
    </div>
    <script>
      $( document ).ready(function() {
        $('#features').submit(function(e){
          e.preventDefault();
          $.ajax({
            url: "/exactpredict",
            type: 'post',
            data:$('#features').serialize(),
            success:function(){
                console.log()
            }
        }).then((x)=> {
          $('#pred').html(x) ;
          console.log(x);
        })
  })
});
    </script>
<!-- // Footer -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script> 
      <script src="/static/js/jquery.js"></script>
</body>
</html>