<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/static/images/logo.jpg">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/css/st.css">
        <title>Crop Price Prediction</title>
      </head>
<body >
    <header >
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8ac79a;">
          <div class="container-fluid">
            <a class="navbar-brand" href="/"><b>Crop Price Prediction</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/"><b>Home Page</b></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/about"><b>About Us</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/predictpage"><b>Crop recommendation</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/base"><b>Suggestion For Crop</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/fertilizer"><b>Feritilzer Predictions</b></a>
                  </li>
              </ul>
            </div>
          </div>
        </nav>
           
            <!-- Title heading -->
           
            <div class="title">
                <span class="heading">Suggestions For Crop</span>
              </div>
        </header>
    <div class="container">
        <h1>Suggestions</h1>
        <div id="predictions">
          {% for prediction in predictions %}
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Suggestion {{ loop.index }}</h5>
                <p class="card-text">{{ prediction }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
        <section class="p-4 bg-light">
          <div class="container-fluid">
              <div class="row d-flex align-items-center">
                  <div class="col-md-9 text-center p-3">
                      <h3>Click here to give these Suggestions as your inputs </h3>
                  </div>
                  <div class="col-md-3 text-center p-3">
                      <button id="pres" class="btn btn-danger" type="button">Go to exact prediction</button>
                  </div>
              </div>
      </div>
      <script>document.getElementById("pres").onclick = function(){
    
        window.location.href='/predictpage'
        
    };</script>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

      <!-- Footer -->
<footer>
 <div class="footer">
   <div class="footer-content">
     <div class="footer-section about">
       <h1 class="logo-text">
         <span class="logo-span">SHV</span>
         <span class="logo-span">C</span>oders
       </h1>
       <p class="footer-para">
       Thanks for visiting crops world
       </p>
       <div class="contact">
         <span
           ><i class="fas fa-envelope"></i>&nbsp;
           cropworld@gmail.com</span
         >
         <br>
         
       </div>
     </div>
   </div>
   <div class="footer-bottom">
     &copy; | Designed By SHVCoders
   </div>
 </div>
</footer>
<!-- // Footer -->
</body>
</html>